page-nuevo-abono {
    .linea_venta{
        font-size: 10px;
        text-align: right;        
    }
    .encabezado_linea_venta{
        text-align: right;
    }
    .linea_saldo{
        font-weight: bold;
    }
    .pie_linea_venta{
        text-align: right;
        font-weight: bold;
        color: rebeccapurple;
        font-size: 10px;
    }
}
